extends includes/layout

block content
  h1= title
  p#headerTagline= headerTaglineText
  br

  // Wrapper
  #wrapper
 
    // ADD USER
    h2 Greetings Programmers
    p#errorMsg= inputErrorMsg
    #addUser
      fieldset
        input#inputUserFirstname(type='text', placeholder='First name')
        input#inputUserLastname(type='text', placeholder='Last name')
        input#inputUserJobtitle(type='text', placeholder='Job Title')
        br
        input#inputUserEmail(type='text', placeholder='Email')
        input#inputUserCompany(type='text', placeholder='Company')
        input#inputUserCountry(type='text', placeholder='Country')
        br
        button#btnAddUser Add User
    // /ADD USER

  // /WRAPPER

  footer 
    script(src='/js/jquery2.0.3.min.js')
    script(src='/js/global.js')