extends includes/layout

block content
  h1= title
  p= headerTagline
  br

  // Wrapper
  #wrapper
    ul
      each user, i in userlist
        li= i+1 + " "
          a(href="mailto:#{user.email}")= user.username + " " + " - in MongoDB ./data"

  // /WRAPPER
  footer 
    script(src='/js/jquery2.0.3.min.js')
    script(src='/js/global.js')
    script(src='/js/survey_tool_admin.js')
