doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    // script(src='/js/jquery.backstretch.min.js')
  body
    header
      // include ./includes/nav.jade
    block content


